.todo-item {
    margin-top: 15px;
}

.todo-item-completed {
    text-decoration: line-through;
}

.todo-item-hidden {
    display: none;
}

.todo-header {
    padding-right: 10px;
}

.todo-text {
    padding-right: 10px;
}

.filtering-btn-container {
    margin-top: 10px;
}